asgiref==3.4.1
Django==3.2.21
django-environ==0.11.2
django-filter==21.1
django-model-utils==4.2.0
djangorestframework==3.14.0
drf-yasg==1.21.7
et-xmlfile==1.1.0
inflection==0.5.1
numpy==1.19.5
openpyxl==3.1.2
packaging==21.3
Pillow==8.4.0
PyMySQL==1.0.2
pyparsing==3.0.7
pytz==2023.3.post1
PyYAML==6.0.1
reportlab==3.6.8
sqlparse==0.4.4
typing_extensions==4.1.1
uritemplate==4.1.1
